body {
  background-color: #F0F0F0;
}

.title {
  text-align: center;
}

div.display {
  width: 300px;
  min-height: 100px;
  margin: 30px auto;
  border: 1px solid blue;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

form.send {
  width: 300px;
  margin: 30px auto;
}

form.nickname {
  position: absolute;
  top:25px;
  right: 25px;
}

input#enter_message {
  width: 235px;
}

button {
  margin: auto auto;
  background-color: green;
  color: white;
  font-weight: bold;
}
